{% extends "base.html" %}

{% block title %} {{ ad.name }} {% endblock %}

{% block body %}
    <h1>{{ ad.name }}</h1>
    <h2>{{ ad.price }} €</h2>
    <img src="{{ ad.image.url }}" alt="{{ ad.name }}" title="{{ ad.name }}">
    <p>{{ ad.description }}</p>
    <ul>
        <li>
            <strong>Propietario:</strong> {{ ad.owner.first_name }} {{ ad.owner.last_name }}
        </li>
        <li>
            <strong>Tipo:</strong> {{ ad.get_type_display }}
        </li>
        <li>
            <strong>Estado:</strong> {{ ad.get_status_display }}
        </li>
    </ul>
{% endblock %}
